<!-- templates/leaderboard.html -->

{% extends "base.html" %}
{% block content %}
<h2>Leaderboard</h2>
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        {% for player in players %}
			<tr>
				<td>{{ loop.index }}</td> <!-- loop.index starts from 1 -->
				<td>{{ player.name }}</td>
				<td>{{ "%.2f"|format(player.rating) }}</td>
			</tr>
		{% endfor %}

    </tbody>
</table>
{% endblock %}
